<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Tall Ones Show Page</h1>
	<h3>Name: <%=tallOnes.name%></h3>
	<h3>Height: <%=tallOnes.height%></h3>
	<h3>Location: <%=tallOnes.location%></h3>
	<h3>First Ascent: <%=tallOnes.First_Ascent%></h3>
	<br>
	<a href="/TallOnes/<%=index%>/edit">Edit</a>
	<br/>
	<br/>
	<br/>
	<a href="/TallOnes">HOME</a>
</body>
</html>